In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('test.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [3]:
df.shape

(1459, 80)

In [4]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [5]:
feature_nans=[feature for feature in df.columns  if df[feature].isnull().sum()>1 and df[feature].dtypes=='O']

for feature in  feature_nans:
    print('{} :{} % Missing'.format(feature,np.round(df[feature].isnull().mean(),3)))

MSZoning :0.003 % Missing
Alley :0.927 % Missing
Utilities :0.001 % Missing
MasVnrType :0.011 % Missing
BsmtQual :0.03 % Missing
BsmtCond :0.031 % Missing
BsmtExposure :0.03 % Missing
BsmtFinType1 :0.029 % Missing
BsmtFinType2 :0.029 % Missing
Functional :0.001 % Missing
FireplaceQu :0.5 % Missing
GarageType :0.052 % Missing
GarageFinish :0.053 % Missing
GarageQual :0.053 % Missing
GarageCond :0.053 % Missing
PoolQC :0.998 % Missing
Fence :0.801 % Missing
MiscFeature :0.965 % Missing

In [6]:
## Replacing categorical feature with new feature:

def replacing_cat_feature(df,feature_nans):
    data=df.copy()
    data[feature_nans]=data[feature_nans].fillna('Missing')
    return data
df=replacing_cat_feature(df,feature_nans)

In [7]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Missing,Reg,Lvl,AllPub,...,120,0,Missing,MnPrv,Missing,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,Missing,IR1,Lvl,AllPub,...,0,0,Missing,Missing,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,Missing,IR1,Lvl,AllPub,...,0,0,Missing,MnPrv,Missing,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,Missing,IR1,Lvl,AllPub,...,0,0,Missing,Missing,Missing,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,Missing,IR1,HLS,AllPub,...,144,0,Missing,Missing,Missing,0,1,2010,WD,Normal

In [8]:
df[feature_nans].isnull().sum()

MSZoning        0
Alley           0
Utilities       0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
Functional      0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

In [9]:
##  Numerical NAN values:

numerical_nans=[feature for feature in df.columns if df[feature].isnull().sum() >1 and df[feature].dtypes!='O']

for feature in numerical_nans:
    print('{} :{}%Missing' .format(feature,np.around(df[feature].isnull().mean(),4)))

LotFrontage :0.1556%Missing
MasVnrArea :0.0103%Missing
BsmtFullBath :0.0014%Missing
BsmtHalfBath :0.0014%Missing
GarageYrBlt :0.0535%Missing

In [14]:
for feature in numerical_nans:
    
    median_value=df[feature].median()
    # Create a new feature to capture the nan values:
    df[feature+'nan']=np.where(df[feature].isnull(),1,0)
    df[feature].fillna(median_value,inplace=True)

In [15]:
df[numerical_nans].isnull().sum()

LotFrontage     0
MasVnrArea      0
BsmtFullBath    0
BsmtHalfBath    0
GarageYrBlt     0
dtype: int64

In [16]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,20,RH,80.0,11622,Pave,Missing,Reg,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
1,1462,20,RL,81.0,14267,Pave,Missing,IR1,Lvl,AllPub,...,12500,6,2010,WD,Normal,0,0,0,0,0
2,1463,60,RL,74.0,13830,Pave,Missing,IR1,Lvl,AllPub,...,0,3,2010,WD,Normal,0,0,0,0,0
3,1464,60,RL,78.0,9978,Pave,Missing,IR1,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
4,1465,120,RL,43.0,5005,Pave,Missing,IR1,HLS,AllPub,...,0,1,2010,WD,Normal,0,0,0,0,0

In [17]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage        0
LotArea            0
                  ..
LotFrontagenan     0
MasVnrAreanan      0
BsmtFullBathnan    0
BsmtHalfBathnan    0
GarageYrBltnan     0
Length: 85, dtype: int64

In [18]:
for feature in ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']:
    df[feature]=df['YrSold']-df[feature]

In [19]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,20,RH,80.0,11622,Pave,Missing,Reg,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
1,1462,20,RL,81.0,14267,Pave,Missing,IR1,Lvl,AllPub,...,12500,6,2010,WD,Normal,0,0,0,0,0
2,1463,60,RL,74.0,13830,Pave,Missing,IR1,Lvl,AllPub,...,0,3,2010,WD,Normal,0,0,0,0,0
3,1464,60,RL,78.0,9978,Pave,Missing,IR1,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
4,1465,120,RL,43.0,5005,Pave,Missing,IR1,HLS,AllPub,...,0,1,2010,WD,Normal,0,0,0,0,0

In [20]:
df[['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']].head()

   YearBuilt  YearRemodAdd  GarageYrBlt
0         49            49         49.0
1         52            52         52.0
2         13            12         13.0
3         12            12         12.0
4         18            18         18.0

In [22]:
#  Numerical Values are skewed:
num_features=['LotFrontage', 'LotArea', '1stFlrSF', 'GrLivArea']

for feature in num_features:
    df[feature]=np.log(df[feature])

In [23]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,20,RH,1.477511,2.236515,Pave,Missing,Reg,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
1,1462,20,RL,1.480342,2.258184,Pave,Missing,IR1,Lvl,AllPub,...,12500,6,2010,WD,Normal,0,0,0,0,0
2,1463,60,RL,1.459560,2.254927,Pave,Missing,IR1,Lvl,AllPub,...,0,3,2010,WD,Normal,0,0,0,0,0
3,1464,60,RL,1.471717,2.220088,Pave,Missing,IR1,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
4,1465,120,RL,1.324738,2.142204,Pave,Missing,IR1,HLS,AllPub,...,0,1,2010,WD,Normal,0,0,0,0,0

In [26]:
# handling rare categorical values:

categorical_features=[feature for feature in df.columns if df[feature].dtypes=='O']
categorical_features

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [30]:
for feature in  categorical_features:
    temp=df.groupby([feature])['SaleCondition'].count()/len(df)
    temp_df=temp[temp>0.01].index
    df[feature]=np.where(df[feature].isin(temp_df),df[feature],'Rare_var')

In [31]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,20,Rare_var,1.477511,2.236515,Pave,Missing,Reg,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
1,1462,20,RL,1.480342,2.258184,Pave,Missing,IR1,Lvl,AllPub,...,12500,6,2010,WD,Normal,0,0,0,0,0
2,1463,60,RL,1.459560,2.254927,Pave,Missing,IR1,Lvl,AllPub,...,0,3,2010,WD,Normal,0,0,0,0,0
3,1464,60,RL,1.471717,2.220088,Pave,Missing,IR1,Lvl,AllPub,...,0,6,2010,WD,Normal,0,0,0,0,0
4,1465,120,RL,1.324738,2.142204,Pave,Missing,IR1,HLS,AllPub,...,0,1,2010,WD,Normal,0,0,0,0,0

In [32]:
df['SaleCondition'].unique()

array(['Normal', 'Partial', 'Abnorml', 'Family', 'Rare_var'], dtype=object)

In [40]:
# replacing the categorical with valures:

for feature in categorical_features:
    label_order=df.groupby([feature])['YrSold'].mean().sort_values().index
    label_order={k:i for i,k in enumerate(label_order,0)}
    df[feature]=df[feature].map(label_order)

In [41]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,20,4,1.477511,2.236515,0,0,2,2,0,...,0,6,2010,1,4,0,0,0,0,0
1,1462,20,1,1.480342,2.258184,0,0,1,2,0,...,12500,6,2010,1,4,0,0,0,0,0
2,1463,60,1,1.459560,2.254927,0,0,1,2,0,...,0,3,2010,1,4,0,0,0,0,0
3,1464,60,1,1.471717,2.220088,0,0,1,2,0,...,0,6,2010,1,4,0,0,0,0,0
4,1465,120,1,1.324738,2.142204,0,0,1,0,0,...,0,1,2010,1,4,0,0,0,0,0

In [47]:
# Feature Scaling:

feature_scaling=[feature for feature in df.columns if feature not in ['Id']]

from sklearn.preprocessing import MinMaxScaler

sc=MinMaxScaler()
sc.fit(df[feature_scaling])

MinMaxScaler()

In [48]:
data=pd.concat([df[['Id']].reset_index(drop=True),
                  pd.DataFrame(sc.transform(df[feature_scaling]),columns=feature_scaling)],
                 axis=1)

In [49]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,BsmtFullBathnan,BsmtHalfBathnan,GarageYrBltnan
0,1461,0.000000,1.00,0.657288,0.614997,0.0,0.0,0.666667,0.666667,0.0,...,0.000000,0.454545,1.0,0.25,1.0,0.0,0.0,0.0,0.0,0.0
1,1462,0.000000,0.25,0.662397,0.668388,0.0,0.0,0.333333,0.666667,0.0,...,0.735294,0.454545,1.0,0.25,1.0,0.0,0.0,0.0,0.0,0.0
2,1463,0.235294,0.25,0.624887,0.660362,0.0,0.0,0.333333,0.666667,0.0,...,0.000000,0.181818,1.0,0.25,1.0,0.0,0.0,0.0,0.0,0.0
3,1464,0.235294,0.25,0.646830,0.574520,0.0,0.0,0.333333,0.666667,0.0,...,0.000000,0.454545,1.0,0.25,1.0,0.0,0.0,0.0,0.0,0.0
4,1465,0.588235,0.25,0.381547,0.382619,0.0,0.0,0.333333,0.000000,0.0,...,0.000000,0.000000,1.0,0.25,1.0,0.0,0.0,0.0,0.0,0.0

In [50]:
data.shape

(1459, 85)